/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS styling starts below */

* {
	box-sizing: border-box;
	width: 100%;
}

html {
	font-size: 62.5%;
}
	

body {
	color: white
	
}

.topSection {
	background-color: #231015;
	padding: 4% 8%;
}

.logoHeader {
	display: flex;
	align-items: center;
}

.logoHeader img {
	width: 5.5%;
	padding-right: 2%;
}

h1 {
	font-family: 'Spectral', serif;
	font-size: 4.8rem;
	transition: color 0.3s ease;
}

h1:hover {
	color: #6BDBB2;
}

ul {
	display: flex;
}

nav, a {
	margin: 4% 0;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-decoration: none;
	color: white;
}

nav, a:hover {
	color: #6BDBB2;
}

.about {
	display: flex;
}

.headShot {
	width: 50%;
	margin-right: 2%;
	margin-top: 2%;
}

.flexText {
	width: 60%;
	font-size: 20px;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 300;
}

.flexText p {
	line-height: 32px;
	margin-bottom: 16px;
}

h2{
	font-family: 'Spectral', serif;
	color: #231015;
	font-size: 40px;
	text-align: center;
	margin: 56px auto;
}

.gallery {
	background-color: white;
}

.galleryItem {
	width: 30%;
	padding: 32px;
}

.row1 {
	margin: 4% 0% 2% 0%;
	display: flex;
	justify-content: center;
}

.row2 {
	margin: 2% 0% 4% 0%;
	display: flex;
	justify-content: center;
}

.gallery p {
	color: #555;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}


footer {
	background-color: #44202A;
	height: 460px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer p {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 24px;
}

footer p:nth-child(1){
	font-family: 'Spectral', serif;
	font-size: 48
	px;
	text-align: center;
}


button {
	padding: 14px 24px;
	background: white;
	border-radius: 8px;
	font-family: 'Spectral', serif;
	font-size: 18px;
	color: #616161;
	border-color: white;
	transition: background-color 0.3s ease-in-out;

}

button:hover {
	background: #44202A;
	color: white
}


.socialLinks {
	display: flex;
	justify-content: space-around;
	padding: 8px 8px;
}

.fa-twitter {
	color: white;
	padding-right: 0px;
}

.fa-linkedin {
	color: white;
	padding-right: 24px;
}


@media (max-width: 500px) {

	.topSection {
		padding: 0 0;
	}

	.logoHeader {
		width: 100%;
		padding: 15% 0;
		justify-content: center;
		margin: 0% auto -4% auto;
	}

	.logoHeader img {
		width: 10%;
	}

	h1 {
		font-size: 2.8rem;
		width: 35%;
	}


	nav a {å
		margin: 2% 0;

	}

	ul {
		flex-direction: column;
	}
	li {
		text-align: center;
		padding: 4% 0;
		width: 100%;
	}
	li:nth-child(1) {
		background-color: #33181F;
	}
	li:nth-child(2) {
		background-color: #3B1C25;
	}
	li:nth-child(3) {
		background-color: #401E27;
	}
	li:nth-child(4) {
		background-color: #44202A;
	}

	.about {
		flex-direction: column;
		align-items: center;
		padding: 4% 2%;
	}

	.headShot {
		width: 100%;
		justify-content: center;
		padding: 2% 2%;
	}

	.flexText {
		width: 85%;
		font-size: 2rem;
	}

	h2 {
		font-size: 4.8rem;
		width: 85%;
	}

	.row1, .row2 {
		flex-direction: column;
	}

	.galleryItem {
		width: 100%;
		padding: 12% 8% 4% 8%;
	}


}